{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<h2>Dashboard</h2>

<hr>



<div class="row">

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5>Total Items</h5>
                <h2>{{ total_items }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-success mb-3">
            <div class="card-body">
                <h5>Total Stock</h5>
                <h2>{{ total_stock }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-danger mb-3">
            <div class="card-body">
                <h5>Low Stock Items</h5>
                <h2>{{ low_stock }}</h2>
            </div>
        </div>
    </div>

</div>

{% if low_stock_items %}

<h4 class="mt-4 text-danger">⚠ Low Stock Alert</h4>

<table class="table table-bordered">

    <thead class="table-danger">
        <tr>
            <th>Item</th>
            <th>Available</th>
            <th>Minimum</th>
        </tr>
    </thead>

    <tbody>

    {% for item in low_stock_items %}

    <tr>

        <td>{{ item[0] }}</td>
        <td>{{ item[1] }}</td>
        <td>{{ item[2] }}</td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endif %}

<h4 class="mt-4">Recent Transactions</h4>

<table class="table table-striped">

    <thead class="table-dark">

        <tr>
            <th>Item</th>
            <th>Person</th>
            <th>Department</th>
            <th>Qty</th>
            <th>Date</th>
        </tr>

    </thead>

    <tbody>

    {% for row in recent_transactions %}

    <tr>

        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>

    </tr>

    {% endfor %}

    </tbody>

</table>


{% endblock %}